* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/*Clases*/
.pos-relative {
  position: relative;
}

.dis-inline-block {
  display: inline-block;
}
.text-uppercase {
  text-transform: uppercase;
}

/*Contenedor principal*/
#tem-wrapper {
  background-color: #ebebeb;
}

/*Cabecera*/
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}
/*Cabecera Principal*/
#header-main{
  height: 72px;
  background-color: #e00109;
  box-sizing: border-box;
  text-align: center;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  overflow: auto;
}

.hm-content {
  float: left;
  width: 24%;
  height: 100%;
  box-sizing: border-box;
}
#logo {
  margin-left: 14%;
}

#social-network-header {

}

.i-header {
  position: relative;
  top: 11.5px;
  font-size: 20px;
  background-color: #ffffff;
  color: #e00109;
  padding: 5px;
  border-radius: 15px;
  margin: 2px;
}

#search-header{
  color: #ffffff;
}

#search {
  position: relative;
  top: 11.5px;
  padding: 7.5px;
  border: 1px #ffffff solid;
  border-radius: 10px;
}
/*Menú de navegación*/
#navbar{
  background-color: #5c5c66;
}
#navbar-list{
  left: 14%;
  width: 72%;
  text-align: center;
  background-color: #4d4d59;
  color: #fefefe;
}
#navbar-list li{
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 15px;
}

#tem-body {
  height: 500px;
  width: 72%;
  left: 14%;
  top: 91px;
  background-color: #ffffff;
  padding: 30px 15px;
}

#content-body {
  position: absolute;
  display: inline-block;
}
#news {
  left: 0;
  width: 70%;
  height: 100px;
  background-color: blue;
}

#more {
  right: 0;
  width: 30%;
  height: 100px;
  background-color: green;
}
/*footer {
  height: 100px;
  background-color: yellow;
}*/
